# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# OS Files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# CTF Artifacts (Downloaded files, heavy binaries, zips)
*.zip
*.tar.gz
*.pcapng
*.img
target/
output/

# Sensitive info (NEVER upload these!)
.env
id_rsa
id_rsa.pub
*.ovpn
